// Hide Small logo

header {
   z-index: 10; 
   position: fixed;
   width: 100%;
   padding-top: 43px;

   .container {
      max-width: 1238px;
      height: 100%;
   }
}

.header__inner {
   display: flex;
   justify-content: space-between;
   align-items: center;
}

// Header Menu
.header__menu {
   display: flex;
   align-items: center;
}

// Menu List 
.menu-list {
   display: flex;
}

.menu-list__item:not(:last-child) {
   padding-right: 20px;
}
.menu-list__item-num {
   display: none;
}

.menu-list__link {
   color: $white-color;
   font-size: 0.9375rem;
   line-height: 1.0625rem;
   font-weight: 500;
   text-transform: uppercase;
   transition: .3s ease opacity;

   &:hover {
      opacity: .7;
   }
}


// Header Info
.header__info {
   display: flex;
   align-items: center;

   .primary-btn {
      padding: 0.4375rem 1.75rem;
   }

   &-num {
      margin-left: 8px;
      color: $white-color;
   }
}