.section {
   height: 100vh;
   width: 100%;
   background-size: cover;
   background-position: center;
   position: relative;
   padding-bottom: 50px;
}

.contacts {
   padding-bottom: 85px;
   position: relative;
}

.section-bg {
   background: linear-gradient(107.54deg, rgba(23, 26, 28, 0.72) 0%, #5E5E57 100%);
   opacity: .15;
   position: absolute;
   height: 100%;
   width: 100%;
   left: 0;
   top: 0;
   pointer-events: none;
}

.scroll-down {
   position: absolute;
   bottom: 30px;
   right: 50%;
   transform: translateX(50%);
}

.footer {
   height: 85px;
   width: 100%;
   position: absolute;
   background-color: transparent;
   bottom: 0;
   z-index: 10;

   .footer__inner {
      height: 100%;
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: flex-end;
      padding: 0 5%;
   }

   .coppyrights {
      font-size: 0.8125rem;
      line-height: 1.0625rem;
      font-weight: 300;
      opacity: .64;
   }
}